.intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    h1{
        margin-bottom: 15px;
    }
}
